.table {
  margin: 20px;
  padding: 20px;
  table-layout: auto;
  width: 100%;
  border-spacing: 0;
  /* border-collapse: collapse; */
  border: 1px solid rgb(222,226,230);
}
.table thead,.table td:nth-child(4n + 1) {
  font-weight: bold;
}
.table thead td{
  border-bottom: 2px solid;
}
.table td {
  border-bottom: 1px solid rgb(222,226,230);
  text-indent: .5em;
  width: 50px;
  height: 50px;
}

.table-sm {
  padding: 0;
}

.table-striped tbody tr:nth-child(2n + 1) {
  background-color: rgba(0,0,0,0.3);
}

.table-hover tbody tr:hover {
  background-color: rgba(0,0,0, 0.5);
}

.table-bordered td {
  border: 1px solid rgb(222,226,230);
}

table.table-borderless td {
  border: none;
}

.table-dark tr{
  background-color: rgb(33,37,41);
  color: rgb(255,255,255);
}

.table-striped-columns td:nth-child(odd) {
  background-color: rgba(0,0,0, 0.3);
}
