html,
body,
.index {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  min-width: 970px;
  font-family: mi;
}
.containerLeft,
.indexMain,
.showRow,
.top-img,
.phone-show {
  margin-left: auto;
  margin-right: auto;
  width: 1226px;
}
@font-face {
  font-family: mi;
  src: url(mifont.ttf);
}
[class*='icon'] {
  font-family: mi;
}
.nav1 {
  height: 40px;
  background-color: #333;
}
.nav1 .containerLeft {
  position: relative;
}
.nav1 .containerLeft a {
  color: #b0b0b0;
  line-height: 40px;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
}
.nav1 .containerLeft a:first-child {
  padding-left: 0;
}
.nav1 .containerLeft a:hover {
  color: white;
}
.nav1 .containerLeft span {
  color: #424242;
}
.nav1 .containerLeft .containerRight {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  height: 40px;
  align-items: center;
}
.nav1 .containerLeft .containerRight div #shoppingCart {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  background-color: #424242;
  transition: 0s 0.4s;
}
.nav1 .containerLeft .containerRight div #shoppingCart::before {
  content: '\E60C';
}
.nav1 .containerLeft .containerRight div #shoppingCart:hover {
  color: #ff6700;
  background-color: #fff;
  transition: none;
}
.nav1 .containerLeft .containerRight div #shoppingCart:hover + .cart {
  height: 100px;
}
.nav1 .containerLeft .containerRight div #shoppingCart + .cart {
  display: flex;
  position: absolute;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  top: 40px;
  right: 0;
  background-color: #fff;
  z-index: 10;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
  font-size: 12px;
}
/* 第二个导航栏 nav2*/
.nav2 {
  height: 100px;
}
.nav2 .container {
  margin-left: auto;
  margin-right: auto;
  width: 1226px;
  height: 100px;
  display: flex;
  align-items: center;
}
.nav2 .container > ul {
  display: flex;
  margin-left: 180px;
  align-items: center;
  padding: 0;
  /* 导航栏级联菜单 */
}
.nav2 .container > ul:hover ul.show {
  height: 230px;
  box-shadow: 0 0 5px 0 #b4b4b4b4;
}
.nav2 .container > ul > li {
  /* display: inline-block; */
  padding: 0 10px;
  list-style: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.nav2 .container > ul > li:hover {
  color: #ff6700;
}
.nav2 .container > ul > li:hover ul.show {
  z-index: 99;
}
.nav2 .container > ul > li ul {
  display: flex;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 22;
  top: 140px;
  left: 0;
  right: 0;
  padding: 0 calc(50% - 613px);
  transition: 0.3s;
}
.nav2 .container > ul > li ul li {
  width: calc(1226px / 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav2 .container > ul > li ul li span:nth-of-type(1) {
  color: #333;
  font-size: 12px;
}
.nav2 .container > ul > li ul li span:nth-of-type(2) {
  color: #ff6700;
  font-size: 12px;
}
.nav2 .container > ul.service {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 55px;
}
.nav2 .container a img {
  width: 56px;
}
.nav2 .container .search {
  position: relative;
  height: 50px;
  width: 300px;
  font-size: 14px;
  display: flex;
}
.nav2 .container .search .search-content {
  flex-grow: 1;
  border: none;
  text-indent: 0.5em;
  border: 1px solid #e0e0e0;
}
.nav2 .container .search .search-content:focus {
  outline: none;
}
.nav2 .container .search .search-content:focus {
  border: 1px solid red;
}
.nav2 .container .search .search-content:focus ~ .search-icon {
  border: 1px solid red;
  border-left: none;
}
.nav2 .container .search .search-content:focus ~ .history {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 240px;
  background-color: #fff;
  box-sizing: border-box;
  border-top: none;
  position: absolute;
  z-index: 25;
  top: 100%;
  left: 0;
}
.nav2 .container .search .search-content:focus ~ .history li {
  font-size: 14px;
  list-style: none;
  flex: 1;
  text-indent: 1em;
  display: flex;
  align-items: center;
}
.nav2 .container .search .search-content:focus ~ .history li:hover {
  background-color: #fafafa;
}
.nav2 .container .search .search-icon {
  background-color: #fff;
  padding: 0;
  border: 1px solid #e0e0e0;
  border-left: none ;
  cursor: pointer;
  width: 50px;
  flex: none;
  font-size: 25px;
}
.nav2 .container .search .search-icon:hover {
  background-color: #ff6700;
  color: #fff;
}
.nav2 .container .search .history {
  display: none;
}
.nav2 .container .search:hover > * {
  border: 1px solid #b0b0b0;
}
.nav2 .container .search::placeholder {
  color: black;
}
.navRight ul {
  position: fixed;
  width: 84px;
  height: 455px;
  right: 0;
  bottom: 70px;
  z-index: 999;
}
.indexMain {
  height: 462px;
  margin-top: 0;
  cursor: pointer;
  /* display: flex; */
}
.indexMain aside {
  width: 234px;
  height: 462px;
  float: left;
  position: relative;
  z-index: 21;
  background-color: rgba(255, 255, 255, 0.3);
}
.indexMain aside > ul {
  margin: 0;
  padding: 14px 0;
  position: static;
}
.indexMain aside > ul > li {
  font-size: 14px;
  color: white;
  list-style: none;
  padding: 12px 30px;
  /* 侧边栏级联菜单 */
}
.indexMain aside > ul > li:hover {
  background-color: #ff6700;
}
.indexMain aside > ul > li:hover ul.show {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 234px;
  top: 0;
  justify-content: space-around;
  /* align-items: flex-start; */
  align-content: flex-start;
  color: red;
  box-shadow: 0 0 3px 1px grey;
}
.indexMain aside > ul > li:hover ul.show span:hover {
  color: #ff6700;
}
.indexMain aside > ul > li > span {
  right: 20px;
  position: absolute;
}
.indexMain aside > ul > li ul.show1,
.indexMain aside > ul > li .show2,
.indexMain aside > ul > li .show3,
.indexMain aside > ul > li .show5,
.indexMain aside > ul > li .show6 {
  width: 992px;
}
.indexMain aside > ul > li ul.show4,
.indexMain aside > ul > li .show7,
.indexMain aside > ul > li .show9,
.indexMain aside > ul > li .show10 {
  width: 744px;
}
.indexMain aside > ul > li ul.show8 {
  width: 496px;
}
.indexMain aside > ul > li ul.show {
  display: none;
  height: 462px;
  margin: 0;
  padding: 0;
}
.indexMain aside > ul > li ul.show::after {
  content: ' ';
  flex-grow: 1;
  background-color: #fff;
}
.indexMain aside > ul > li ul.show li {
  width: 248px;
  height: 77px;
  background-color: white;
  display: flex;
  align-items: center;
  /* align-content: flex-start; */
}
.indexMain aside > ul > li ul.show li img {
  margin: 0 20px;
}
.indexMain aside > ul > li ul.show span {
  color: black;
  font-size: 14px;
}
.indexMain main {
  background-size: cover;
  width: 1226px;
  height: 462px;
  position: relative;
}
.indexMain main div.img img {
  position: absolute;
  width: 1226px;
  height: 462px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.indexMain main input:nth-child(1):checked ~ div > img:nth-child(1),
.indexMain main input:nth-child(2):checked ~ div > img:nth-child(2),
.indexMain main input:nth-child(3):checked ~ div > img:nth-child(3),
.indexMain main input:nth-child(4):checked ~ div > img:nth-child(4),
.indexMain main input:nth-child(5):checked ~ div > img:nth-child(5) {
  opacity: 1;
}
.indexMain main input:nth-child(1):checked ~ div > label:nth-child(1),
.indexMain main input:nth-child(2):checked ~ div > label:nth-child(2),
.indexMain main input:nth-child(3):checked ~ div > label:nth-child(3),
.indexMain main input:nth-child(4):checked ~ div > label:nth-child(4),
.indexMain main input:nth-child(5):checked ~ div > label:nth-child(5) {
  background-color: #747170;
}
.indexMain main div.label {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 100px;
  height: 21px;
  font-size: 0;
  cursor: default;
  display: flex;
  align-items: center;
}
.indexMain main div.label label {
  cursor: pointer;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border: 2px solid gray;
  border-radius: 50%;
}
.indexMain main div.label label:hover {
  background-color: #747170;
}
.showRow {
  height: 170px;
  margin-top: 14px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
}
.showRow .row-left {
  width: 234px;
  display: flex;
  background-color: #5f5750;
  flex-flow: row wrap;
}
.showRow .row-left .link {
  width: calc(234px/3);
  height: 85px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.showRow .row-left .link img {
  width: 24px;
}
.showRow .row-left .link span {
  font-size: 12px;
  color: #b2b2b2;
}
.showRow .row-left .link span:hover {
  color: #fff;
}
.showRow [class*='img'] {
  width: 316px;
  height: 170px;
  cursor: pointer;
}
.mainContainer {
  width: 100%;
  background-color: #f5f5f5;
  display: flow-root;
}
.mainContainer header {
  margin: 22px auto;
}
.mainContainer header img {
  width: 1226px;
  height: 120px;
}
.mainContainer .phone-show {
  height: 58px;
}
.mainContainer .phone-show .phone-nav {
  height: 58px;
  line-height: 58px;
  font-weight: 200;
  color: #333;
}
.mainContainer .phone-show .phone-nav span {
  float: right;
  font-size: 16px;
}
.mainContainer .phone-show .phone-nav span::after {
  content: '     \E615';
}
.mainContainer .phone-show .phone-main {
  width: 1226px;
  height: 614px;
}
.mainContainer .phone-show .phone-main .phone-main-ul {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
}
.mainContainer .phone-show .phone-main .phone-main-ul li {
  cursor: pointer;
  background-color: #fff;
  width: 234px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 0 #fff5;
  transition: 0.3s;
}
.mainContainer .phone-show .phone-main .phone-main-ul li:first-child {
  height: 100%;
}
.mainContainer .phone-show .phone-main .phone-main-ul li:hover {
  box-shadow: 0 0 10px 2px #b4b4b4b4;
  position: relative;
  top: -3px;
  left: -3px;
}
.mainContainer .phone-show .phone-main .phone-main-ul li span:nth-of-type(1) {
  font-size: 14px;
}
.mainContainer .phone-show .phone-main .phone-main-ul li span:nth-of-type(2) {
  font-size: 12px;
  color: #b0b0b0;
}
.mainContainer .phone-show .phone-main .phone-main-ul li span:nth-of-type(3) {
  font-size: 14px;
  color: #ff6700;
}
.mainContainer .phone-show .phone-main .phone-main-ul li img {
  width: 160px;
}
.mainContainer .phone-show .phone-main .phone-main-ul li img:first-child {
  width: 234px;
  height: 614px;
}
